@tailwind base;
@tailwind components;
@tailwind utilities;


/*
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
} */

body {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  text-align: center;
}

.link-active {
  color: white;
}

.link {
  color: gray;
}